
@media screen and (max-width: 1150px) {
    .main__content .middle {
        padding-top: 25%;
    }
}

@media screen and (max-width: 900px) {
    .main__content .middle {
        padding: 4rem 2rem;
    }
    .main__content {
        flex-direction: column;
    }
    .main__content .left {
        order: 2;
    }
}

@media screen and (max-width: 650px) {
    .animated__container img {
        margin-left: -9rem;
    }
}

@media screen and (max-width: 550px) {
}

@media screen and (max-width: 490px) {
}